.article-pages {
    padding: 60px 0;
}

.article-pages__row {
}
.article-pages__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.article-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}
.article-card__image {
    flex: 0 0 300px;
}
.article-card__title {
    margin: 0px 0px 10px 0px;
    color: #38e;
}
.article-card__text {
    color: #fff;
}
